/* Estilos para o Painel de Administração */
#login-form {
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#product-management {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.product-card-admin {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
}

.product-card-admin input {
    width: 100%;
    margin-top: 5px;
}
